/*---------------------------------*\
  #ROOT
\*---------------------------------*/

:root {
    /**
     * colors
     */

    /* Primary */
    --Tomato: hsl(4, 100%, 67%);

    /* Neutral */
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);

    /**
     * Typography
     */
    
    /* Body Copy */
    --Font-size: 16px;

    /* font family */
    --font-family: "Roboto", sans-serif;
}

/*---------------------------------*\
  #RESET
\*---------------------------------*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  width: 100%;
}

input { outline: none; }

button { cursor: pointer; }

html {
  scroll-behavior: smooth;
  font-size: var(--Font-size);
}

body {
  background-color: var(--White);
  font-family: var(--font-family);
  color: var(--Dark-Slate-Grey);
}

::selection {
  background-color: var(--Tomato);
  color: var(--White);
}

::-webkit-scrollbar {
  background-color: var(--Dark-Slate-Grey);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Tomato);
  border-radius: 4px;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*-----------------------------------*\
  #COMPONENT
\*-----------------------------------*/

/**
 * btn
 */
.btn {
  background-color: var(--Dark-Slate-Grey);
  border-radius: 8px;
  padding: 20px 25px;
  font-size: 1.1rem;
  transition: .4s;
  color: var(--White);
  font-weight: 400;
}

.btn:hover {
  background-color: var(--Tomato);
  box-shadow: 0 10px 20px var(--Tomato);
  transition: .4s;
}

/*-----------------------------------*\
  #STATES
\*-----------------------------------*/

.states {
  background-color: var(--White);
  height: 100vh;
  width: 100%;
}

.states.active { display: none; }

.states figure .img-desktop { display: none; }

.states .states-content { padding: 40px 25px 20px; }

.states .states-content h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.states .states-content .pragraf {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.states .states-content .states-list {
  display: grid;
  gap: 10px; 
  margin-bottom: 40px;
}

.states .states-content .states-list .states-box {
  display: flex;
  align-items: start;
  gap: 20px;
}

.states .states-content .states-list .states-box p { font-size: 1.1rem; }

.states .states-content form .input-box {
  position: relative;
  display: grid;
  gap: 5px;
  margin-bottom: 25px;
}

.states .states-content form .input-box label {
  font-size: 14px;
  font-weight: 600;
}

.states .states-content form .input-box .error {
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 0;
  margin-bottom: 5px;
  color: var(--Tomato);
  display: none;
}

.states .states-content form .input-box .error.active { display: block; }

.states .states-content form .input-box input {
  border: 1px solid var(--Grey);
  border-radius: 8px;
  padding: 20px 25px;
  font-size: 1.1rem;
  transition: .2s;
}

.states .states-content form .input-box input:where(:hover, :focus) {
  border: 1px solid var(--Dark-Slate-Grey);
  transition: .4s;
}

.states .states-content form .input-box input.active {
  background-color: hsl(3, 100%, 93%);
  border: 1px solid var(--Tomato);
  color: var(--Tomato);
  transition: .2s;
}

.states .states-content form .input-box input::placeholder { color: var(--Grey); }

/*-----------------------------------*\
  #SUCCESS
\*-----------------------------------*/

.success {
  background-color: var(--White);
  padding: 40px 25px;
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: end;
  position: absolute;
  top: 0;
  transition: .4s;
  visibility: hidden;
  opacity: 0;
}

.success.active {
  transition: .4s;
  visibility: visible;
  opacity: 1;
}

.success .success-content img {
  margin-bottom: 25px;
}

.success .success-content h1 { 
  font-size: 2.6rem; 
  margin-bottom: 20px;
}

.success .success-content p { 
  font-weight: 500;
  font-size: 1rem; 
  line-height: 1.5;
}

/*-----------------------------------*\
  #MEDIA
\*-----------------------------------*/

@media (min-width: 1200px) {
  /* #RESET */
  body { 
    background-color: var(--Dark-Slate-Grey); 
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
  }
  /* #STATES */
  .states figure .img-desktop { 
    display: block; 
    grid-column: 2/-1;
  }
  .states figure .img-phone { display: none; }

  .states {
    height: max-content;
    width: 962px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-radius: 30px;
    transition: .4s;
    padding: 20px;
    gap: 20px;
  }
  .states .states-content { 
    padding: 50px;
    grid-column: 1/2;
    grid-row: 1/-1;
    width: 500px;
  }
  .states .states-content h1 { font-size: 3.8rem; }

  /* #SUCCESS */
  .success {
    padding: 50px;
    border-radius: 30px;
    width: 480px;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .success .success-content h1 { font-size: 3.5rem; }

  .success .success-content {
    margin-bottom: 35px;
  }
}